/* main */
.main{
	margin: 30px 20px;
	height: 100%;
	overflow-y: scroll;
	/* firefox */
	scrollbar-width: 6px;
	scrollbar-color: var(--bg-accent-color);
	scrollbar-face-color: var(--accent-color);
}
.main::-webkit-scrollbar{
	/* safari, chrome */
	width: 6px;
	background: var(--bg-accent-color);
}
.main::-webkit-scrollbar-thumb{
	/* safari, chrome */
	background: var(--accent-color);
}

.article-list{
	display: flex;
	flex-direction: column;
	margin: 0 10px;
}
.article{
	min-height: 90px;
	background: var(--component-bg-gradient);
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0;
	box-shadow: 2px 5px 10px 1px var(--shadow-color);
	padding: 10px;
}
.article--media,
.article--text{
	display: flex;
	width: 90%;
}
.article--text{
	flex-direction: column;
}
.article__delete{
	color:var(--accent-color);
	font-weight: var(--large-font-weight);
	background-color: transparent;
}
.article--text__title,
.article--media__title{
	color: var(--text-accent-color);
	font-size: var(--large-font);
	font-weight: var(--large-font-weight);
}
.article--text__body{
	color : var(--smokywhite);
}
.article--media__content{
  margin-right: 10px;
}